/*common css*/
* {
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  min-width: 980px;
  background: #fafafa;
  margin: 0;
  font: 15px/1.7 "PingFang SC", "Helvetica Neue",
  Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei",
  微软雅黑, STHeiti, 华文细黑, sans-serif;
  color: #555;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.banner-page {
  height: 450px;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: -50px;
}

.banner-page .container {
  position: relative;
  height: 100%;
}

.read-btn {
  position: absolute;
  bottom: 20px;
  right: 0;
  text-align: center;
  padding: 7px 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #fff;
}

.read-btn:hover {
  color: #000;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
}

.post-list-wapper {
  padding: 70px 0;
  background: #ebeced;
}

.post {
  float: left;
  background: #fff;
  width: 300px;
  height: 320px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  /*为date设置的*/
  position: relative;
}

.thumbnail-image {
  display: block;
  position: relative;
}

.thumbnail-image::before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0;
  transition: opacity 1s;
}

.thumbnail-image:hover::before {
  opacity: 0.6;
}

.post .thumbnail {
  display: block;
  width: 300px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-info a {
  color: #000;
}

.post-info a:hover {
  color: #b5b9bd;
}

.post .post-info {
  margin: 24px;
}

.post h3 {
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
}

.post .date {
  position: absolute;
  left: 24px;
  bottom: 20px;
  font-size: 13px;
  color: #b5b9bd;
}

.header {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  height: 50px;
  top: 0;
  left: 0;
  z-index: 2;
}

.header .nav {
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 12px;
}

.header .nav li {
  float: left;
  margin-right: 7px;
}

.header .nav li a {
  color: #fff;
  font: 13px;
  padding: 8px 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.header .nav li.current a {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff transparent;
}

.header .nav li a:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.header .logo {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  /*字体居中*/
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 35px;

  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 15px;

  /*颜色样式*/
  background: #00c4cc;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

  /*tansiton效果*/
  transition: top .2s ease-out, box-shadow .2s ease-out;
}

.header .logo:hover {
  top: 18px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.footer {
  height: 200px;
  background: #292d35;
  margin-top: 50px;
}

.icon-wrapper {
  margin-top: 30px;
}

.footer .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  float: left;
  margin-right: 10px;
  font-size: 20px;
}

.footer .icon a {
  color: #fff;
}

.icon.github {
  background: #2196f3;
}

.icon.email {
  background: #00BCD4;
}

.icon.weibo {
  background: #D32F2F;
}

/*blog.css*/
.blog-banner {
  background: url(images/wind.jpg);
  height: 800px;
  background-size: cover;
  margin-top: -50px;
}

.blog-wrapper {
  width: 780px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  letter-spacing: .01rem;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

/*blog post*/

.post-title {
  margin: 10px 0;
  font-size: 60px;
  font-weight: 700;
  -webit-font-smoothing: antialiased;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.8);;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-left: -3px;
}

.author-date {
  color: rgba(0, 0, 0, 0.44);
  line-height: 1;
  margin-bottom: 40px;
}

.post-image {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}
