<!-- layout/default -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main.css" >
    <link rel="stylesheet" href="css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body class="welcome">
    <div class="header">
      <div class="container clearfix">
        <ul class="nav">
          <li class="current"><a href="">Blog</a></li>
          <li><a href="">Work</a></li>
          <li><a href="">about</a></li>
        </ul>
      </div>
      <a href="index.html" class="logo">J</a>
    </div>
    <!-- layout/default -->

    {{ content }}

    <!-- layout/default -->
    <div class="footer">
      <div class="container clearfix">
        <ul class="icon-wrapper">
          <li class="icon github"><a href="http://github.com/Joshua-zr"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
          <li class="icon email"><a href="mailto:awaken.zr@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
          <li class="icon weibo"><a href="http://weibo.com/Joshua-zr"><i class="fa fa-weibo"></i></a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
<!-- layout/default -->
